body {
    font-family: Arial, sans-serif;
    background: url('camo2.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

.cim {
    text-align: center;
    color: #53583a;
    background-color: #171811;
    padding: 20px;
}

.score-container {
    text-align: center;
    margin-top: 10px;
}

.score {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

#sikeresButton {
    background-color: #28a745; /* Zöld szín */
}

#sikeresButton:hover {
    background-color: #218838;
}

#sikertelenButton {
    background-color: #dc3545; /* Piros szín */
}

#sikertelenButton:hover {
    background-color: #c82333;
}

input {
    width: 4cm;
    height: 0.5cm;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vízszintes középre igazítás */
    align-items: center; /* Függőleges középre igazítás */
    height: 75vh; /* Teljes képernyőmagasság */
}

#teamName {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-size: 24px;
    color: #007BFF;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.objective {
    font-size: 20px;
    color: #007BFF;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
}
